server:
  port: 8083

spring:
  application:
    name: billing-service
  datasource:
    url: jdbc:mysql://localhost:3306/billing_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

# Flyway
spring:
  flyway:
    enabled: true

# Eureka client config (assume eureka on localhost:8761)
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true
